* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.no-select {
    user-select: none;
}

.keyboard-base {
    height: 100vh;
    width: 100%;
    padding: clamp(2px, 0.25vw, 8px);
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(38, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: clamp(2px, 0.25vw, 8px);
}

.key {
    background-color: rgb(47, 40, 90);
    border-radius: 5px;
    grid-column: span 2;
    font-size: clamp(10px, 1.5vw, 20px);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.key:hover {
    border: clamp(2px, 0.25vw, 8px) solid rgb(255, 255, 255);
}

.key.active {
    background-color: rgb(82, 70, 156);
    border: clamp(2px, 0.25vw, 8px) solid rgb(255, 255, 255);
}

.cspan-3 {
    grid-column: span 3;
}

.cspan-4 {
    grid-column: span 4;
}

.cspan-5 {
    grid-column: span 5;
}

.cspan-12 {
    grid-column: span 12;
}

.cspan-14 {
    grid-column: span 14;
}

.cspan-16 {
    grid-column: span 16;
}

.rspan-2 {
    grid-row: span 2;
}

.cspan-13 {
    grid-column: span 13;
}